[Desktop Entry]
Name=Checkin
Comment=Checkin To Meckano
Exec=/home/dovidgef/commands/automate_meckano.py
Icon=/usr/share/icons/Humanity/apps/24/gnome-logout.svg
Terminal=false
Type=Application
