[Desktop Entry]
Name=Checkin
Comment=Checkout from Meckano
Exec=/home/dovidgef/commands/automate_meckano.py
Icon=/usr/share/icons/Humanity/apps/24/config-users.svg 
Terminal=false
Type=Application
